aiofiles==24.1.0
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==3.7.1
base45==0.4.4
Brotli==1.1.0
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
colorzero==2.0
cryptography==44.0.0
cssselect2==0.8.0
dnspython==2.7.0
docstring-parser==0.16
ecdsa==0.19.1
email-validator==2.2.0
fastapi==0.115.12
fastapi-limiter==0.1.6
fonttools==4.57.0
google-auth==2.38.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.8
httptools==0.6.4
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
inflection==0.5.1
iniconfig==2.1.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy-extensions==1.0.0
orjson==3.10.16
packaging==24.2
pathspec==0.12.1
piccolo==1.24.2
Pillow==11.2.1
platformdirs==4.3.7
pluggy==1.5.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.8.1
pydantic_core==2.33.1
pydyf==0.11.0
pyotp==2.9.0
pyphen==0.17.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.20
PyYAML==6.0.2
qrcode==8.1
# redis==4.6.0
requests==2.32.3
rsa==4.9
sentry-sdk==2.25.1
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
targ==0.4.0
tinycss2==1.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.1
uvloop==0.21.0
watchfiles==1.0.5
weasyprint==65.0
webencodings==0.5.1
websockets==15.0.1
zopfli==0.2.3.post1
